<div class = "main-content">
    <div class = "section-content section-content-p30">
        <div class ="contaioner-fluid">
            <div class="row">
                <!-- loop over the collection of products-->
                <div *ngFor="let tempProduct of products" class ="col-md-3">
                    <div class ="product-box">
                       <img src="{{tempProduct.imageUrl}}" class="img-responsive">
                       <h1>{{tempProduct.name}}</h1> 
                        <div class="price">{{tempProduct.unitPrice | currency:'INR'}}</div>
                        <a href="#" class="primary-btn">Add to cart</a>
                        
                    </div>
                </div>

                <!-- if products not found then isplay a message-->
                <!-- safe navigation operator(?) = use to guards against null and undefined values in property paths -->
                <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    No Products Found.
                </div>
            </div>
        </div>
    </div>
</div>